.space {
    margin: 3%;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 500px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

/* container image */

.container {  
    width: 100%;  
    height: 960px;  
    border: 5px solid red;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    }  

/* navbar */

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.center{
    justify-content: space-between;
}

.navbutton{
    margin-right: 1%;
    width: 150px;
    height: 50px;
}
.navbutton:hover{
    background-color:#B4B4B4; 
}

button{
    border-radius: 15px;
}

.navLabel {
    color:white;
}
.center{
    align-items: center;
    text-align: center;
}

.rightbutton{
    border-radius: 0px 15px 15px 0px;
}

.leftbutton{
    border-radius: 15px 0px 0px 15px;
}

.centerbutton{
    border-radius: 0px;
}

.rightbutton, .leftbutton,.centerbutton{
    width: 150px;
    margin-right: 1%;
}

.navlabel{
    color:white;
    margin-right: 3%;
}

.navrange{
    width: 100%;
}

label{
    color:white;
    margin: 5%;
}